.auth_form{
    padding: 30px;
    display: inline-block;
    background: #FFFFFF;
    margin-top: 10%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

.login__form input {
    border: none;
    outline: none;
    color: #7c8a97 !important;
    border-left: 1px solid #7c8a972f;
    border-radius: 0px;
    font-size: 14px;
    padding: 5px 15px;
  }
  
  .login__form span i {
    color: #7c8a97;
    font-size: 1rem;
  }
  
  .login__form {
    border: 1px solid #7c8a972f;
    padding: 5px 15px;
  }
  
  .login__btn {
    padding: 7px 25px;
    border: none;
    outline: none;
    background: #000d6b;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }