.myClass {
  color: rgb(26, 0, 142);
  text-align: center;
  font-weight: bold;
}

.myDropItems {
  text-align: center;
}

.myLogoutButton {
  width: 30px;
  margin-top: 10px;
  margin-left: 43%;
}

.abbrCircle {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  padding: 5% 0px;
  font-size: 20px;
  border: 5px solid rgb(50, 50, 255);
  color: rgb(31, 0, 169);
  margin-bottom: 20px;
}

.myDiv:hover {
  background-color: #e8e6e6b0;
  cursor: pointer;
}
